doctype
html
	block head
	head
		block favicon
			link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

		//- bower:css

        //- endbower
        //- bower:js

        //- endbower
        //- inject:css

        //- endinject
        //- inject:js

		//- endinject

	body
		h1 hello kari