doctype
html
	block head
	head
		base(href="/")
		block title
			title Multivision
		block favicon
			link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

		block wiredep
			//- bower:css
			link(rel='stylesheet', href='/vendor/toastr/toastr.css')
			link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
			//- endbower
			
			//- inject:css

			link(rel="stylesheet", href="/css/bootstrap.css")

			link(rel="stylesheet", href="/css/site.css")

			//- endinject

	body(ng-app='app')
		include currentUser
		block main-content
		include scripts

		